 body {
 
  font-family: Arial, Helvetica, sans-serif;
 
}
 
.intro-menu {
    
background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%,
rgba(238, 61, 27, 0.8) 100%);
}
 
p {
  text-align: left;
}
 
.topnav {
  overflow: hidden;
 padding-top: 20px;
}
 
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 
.topnav a:hover {
 
  color: black;
}
 
.topnav a.active {
  color: white;
  margin-left: 40%;
}
 
.title {
	position: absolute;
width: 578px;
height: 86px;
left: 800px;
top: 257px;
}
 
#heading {
	font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 86px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
text-transform: uppercase;
 
color: #FFFFFF;
}
 
.desc {
position: absolute;
width: 540px;
height: 124px;
left: 650px;
top: 382px;
}
 
#content {
	font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
/* or 36px */
 
text-align: center;
 
color: #FFFFFF;
}
 
.pr1 {
 
}
.pr2 {
 
}
 
.pr3 {
 
}
 
#pr1_heading {
 
 
font-family: Lato;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
 
color: #000000;
}
 
#pr1_content {
 
 
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* or 20px */
 
text-align: justify;
 
color: #000000;
}
 
.image_cnt {
  display:fit;
}
 
.pr1_image {
 
 
background: url("/Users/philippromanovskiy/Desktop/project/images/IMG_1406.png");
border-radius: 15px;
}
 
.main{
  text-align: center;
  grid-area: main;
  margin:100px;
}
 
.wrapper2 ._smry {
	font-weight:bolder;
	font-family: Helvetica;
	color:#48697e;
}
 
.wrapper2 {
	display:flex;
	box-shadow: 1px 2px 15px #e5e5e5;
	margin-bottom: 40px;
	border-radius:8px;
}
 
.wrapper2 ._desc{
	width:60%;
	padding:9px 36px;
}
.wrapper2 ._img1 {
 	width: 40%;
	background-image: url("/Users/philippromanovskiy/Desktop/project/images/IMG_1406.png");
	background-size: cover;
	background-position-x: 39%;
	border-radius: 8px 0px 0px 8px;
}
 
.wrapper2 ._img2 {
 	width: 40%;
	background-image: url("/Users/philippromanovskiy/Desktop/project/images/IMG_1402.PNG");
	background-size: cover;
	background-position-x: 39%;
	border-radius: 8px 0px 0px 8px;
}
 
.wrapper2 ._img3 {
 	width: 40%;
	background-image: url("/Users/philippromanovskiy/Desktop/project/images/IMG_1403.PNG");
	background-size: cover;
	background-position-x: 39%;
	border-radius: 8px 0px 0px 8px;
}
 
details {
  width: 100%;
  min-height: 5px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 22px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}
 
details + details {
  margin-top: 20px;
}
 
details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}
 
details p {
  color: #96999d;
  font-weight: 300;
}
 
summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}
 
summary:focus {
  outline: none;
  box-shadow: 0 0 0 4px #f6f7f8, 0 0 0 5px rebeccapurple;
}
 
summary::-webkit-details-marker {
  display: none
}
 
.control-icon {
  fill: rebeccapurple;
  transition: .3s ease;
  pointer-events: none;
}
 
.control-icon-close {
  display: none;
}
 
details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}
 
details[open] .control-icon-expand {
  display: none;
}
 
details[open] summary:hover::after {
  animation: pulse 1s ease;
}
 
@keyframes pulse {
  25% {
	transform: scale(1.1);
  }
  50% {
	transform: scale(1);
  }
  75% {
	transform: scale(1.1);
  }
  100% {
	transform: scale(1);
  }
}
 
.bg-black {
  background-color: #000 !important;
}
 
.rounded-pill {
  border-radius: 5rem;
}
 
.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
}
 
.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
 
.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
 
header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
 
header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
 
header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}
 
header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}
 
header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}
 
header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}
 
header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}
 
header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}
 
header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}
 
@media (min-width: 992px) {
  header.masthead {
	padding-top: calc(10rem + 55px);
	padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
	font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
	font-size: 4rem;
  }
}
 
.bg-primary {
  background-color: #ee0979 !important;
}
 
.btn-primary {
  background-color: #ee0979;
  border-color: #ee0979;
}
 
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #bd0760 !important;
  border-color: #bd0760 !important;
}
 
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}
 
.page {
  padding: 40px;
   
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}
 
#splash {
  background: #cc1f2f;
  background-repeat: repeat-y;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: splash 3s ease-in;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
 
#loader {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,0);
}
 
#loader:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -170px;
  width: 3px;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
  height: 200px;
}
 
#loader:before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: 8px;
  bottom: -190px;
  width: 3px;
  background: #000;
  background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 50%, rgba(0,0,0,0) 100%);
  height: 200px;
}
 
#splash .anim {
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  transform: translate(-50%,100%);
  animation: loader 4s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
 
@keyframes loader {
  0% {
	transform: translate(-50%,110%);
  }
  30% {
	transform: translate(-50%,50%);
  }
  100% {
	transform: translate(-50%,0%);
  }
}
 
@keyframes splash {
  0% {
	transform: translate(0%,0%);
  }
  50% {
	transform: translate(0%,0%);
  }
  100% {
	transform: translate(0%,-100%);
  }
}
